<%- include('header'); -%>

<div class="page">
  <div class="card box">
    <img src="https://wallpapercave.com/wp/wp5355508.jpg" class="card-img-top img" alt="taylor image">
    <div class="card-body content">
      <p class="card-text text"><%= ejsQuote %></p>
    </div>
  </div>
</div>

<%- include('footer'); -%>
